body {
    background-color: black;
    font-family: "DM MONO", serif;
    color:white;
}
.titles{
    color:rgb(255, 255, 255);
    font-family: "DM Mono", serif;
}
#eves-garden{
    margin: 25px;
}
#eves-garden:hover{
    color:darkorchid;
}
#hi{
    margin: 50px;
    margin-left:100px;
}
h2{
    font-size: medium;
    text-align:center;
    color:blueviolet;
    padding:20px;

}
p{
    color: white;
    text-align: center;
}
#p1{
    color: white;
    text-align: center;
    margin: 10px;
}
#img1{
    width: 40%;
    min-width:20%;
    max-width: 300px;
    display:block;
    margin:auto;
}
#flower{
    text-align:center;
    font-size:20px;
}