@import "tailwindcss";

:root {
    --background: #cb8ac0;
    --foreground: #ffffff;
    --border: #3b467e;
    --tabBlue: #7c94fb;
    --blogBG: #121212;
    --blogText: #e7e7e7;
    --blogTitle: #C60C3D;
    --font-sans: var(--font-inter);
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-border: #3b467e;
    --color-tabBlue: #7c94fb;
    --color-blogTitle: #C60C3D;
    --color-blogBG: #121212;
    --color-blogText: #e7e7e7;

    --text-3xl: 26px;
    --text-2xl: 23px;
    --text-xl: 18px;
    --text-lg: 16px;
    --text-base: 14px;
    --text-md: 12px;
    --text-sm: 10px;
    --text-xs: 8px;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #cb8ac0;
        --foreground: #0a0a0a;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-martian-mono);
}



@layer utilities {
    @keyframes blink {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }
    }

    .animate-blink {
        animation: blink 1s step-start infinite;
    }

}
